/* .App{
    text-align: center;
} */
ul,li,#link{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    
    padding-top: 5px;
    background-attachment: fixed;
    color: white;
    text-align: center;
    margin-left: 10px;
    
}
nav{
    background-color:rgb(102, 27, 240);
}
