/* .App{
    text-align: center;
} */
ul,li,#link{
    text-decoration: none;
    list-style: none;
    display: inline-block; 
    padding-top: 5px;
    color: white;
    text-align: center;
    margin-left: 10px;

    
}
nav{
    background-color:rgb(102, 27, 240);
}
.right-ul,.right-li,.right{
    float: right;
    margin-right: 5px;
    
}

.title{
    padding: 10px;
    margin-left: 10px;
}
